DB_CONN_STRING=postgres://ash:samplepass@127.0.0.1:5432/xm?sslmode=disable&timezone=UTC
DB_MAX_OPEN_CONNS=18
DB_MAX_IDLE_CONNS=18
DB_CONN_MAX_LIFETIME=1h
DB_CONN_MAX_IDLE_TIME=30m

SERVER_ADDRESS=:8080
GIN_MODE=release

# Keys (Just for example, Use this securely in staging and production environment)
JWT_PRIVATE_KEY=LS0tLS1CRUdJTiBFQyBQUklWQVRFIEtFWS0tLS0tCk1IY0NBUUVFSU9iOGZ2a0Z5L3ZLaVRIZkNvRDlnbENTUzdZeDdSVmhPMVN4UGE2MGRPOEZvQW9HQ0NxR1NNNDkKQXdFSG9VUURRZ0FFcmJZQVczV0FtZlpENUVnVXQ2T1NNSUxudWxHQmpRaUNXZUY5S0Z2czJnS29XQTEveW1vNwpnS2o3S2JCd0FYNDRGTVFVOGkxQTRqcTN3RmJFeEdkWWxRPT0KLS0tLS1FTkQgRUMgUFJJVkFURSBLRVktLS0tLQo=
JWT_PUBLIC_KEY=LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUZrd0V3WUhLb1pJemowQ0FRWUlLb1pJemowREFRY0RRZ0FFcmJZQVczV0FtZlpENUVnVXQ2T1NNSUxudWxHQgpqUWlDV2VGOUtGdnMyZ0tvV0ExL3ltbzdnS2o3S2JCd0FYNDRGTVFVOGkxQTRqcTN3RmJFeEdkWWxRPT0KLS0tLS1FTkQgUFVCTElDIEtFWS0tLS0tCg==
